.btn-primary {
  color: #ffffff;
  background-color: #61401f;
  border-color: #61401f;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #9b6631;
  border-color: #9b6631;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #88592b;
  border-color: #88592b;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #88592b;
  border-color: #88592b;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #88592b;
  border-color: #88592b;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #88592b;
  border-color: #88592b;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #ffffff;
}